.flex-pannels-body {
  background: #ffc600;
  font-size: 20px;
  font-weight: 200;
  margin: 0;
}

.panels {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
}
.panel {
  background: #6b0f9c;
  box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
  color: white;
  text-align: center;
  align-items: center;
  transition: font-size 500ms ease-out, flex-grow 500ms ease-out,
    background 500ms ease-out;
  font-size: 20px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}
.panel-1 {
  background-image: url('../images/pexels-adrian-lang-2825368.jpg');
}
.panel-2 {
  background-image: url('../images/pexels-davyd-bortnik-3032039.jpg');
}
.panel-3 {
  background-image: url('../images/pexels-suliman-sallehi-1576939.jpg');
}
.panel-4 {
  background-image: url('../images/pexels-tobias-bjørkli-1819634.jpg');
}
.panel-5 {
  background-image: url('../images/pexels-s-migaj-951076.jpg');
}
.panel-6 {
  background-image: url('../images/pexels-tobias-bjørkli-1819663.jpg');
}

.panel > * {
  margin: 0;
  width: 100%;
  transition: transform 500ms;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;
}

.panel > *:first-child {
  transform: translateY(-100%);
}

.panel.open-active > *:first-child {
  transform: translateY(0);
}
.panel > *:last-child {
  transform: translateY(100%);
}
.panel.open-active > *:last-child {
  transform: translateY(0);
}

.panel p {
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2em;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
}

.panel p:nth-child(2) {
  font-size: 4em;
}

.panel.open {
  flex: 5;
  font-size: 40px;
}

.cta {
  color: white;
  text-decoration: none;
}
